<div class="alert alert-danger"  *ngIf="!isValid">
  <strong>Error</strong> {{message}}
</div>
<form  class="form-horizontal main-form">
  <div class="col sm-12">
    <div class="form-group">
      <label for="document">Documento</label>
      <input type="text" class="form-control" name="document" id="document" [(ngModel)]="user.document" required placeholder="Documento">
    </div>

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" placeholder="Nombre">
    </div>

    <div class="form-group">
      <label for="secondName">Apellido </label>
      <input type="text" class="form-control" id="seconName" name="secondName" [(ngModel)]="user.secondName" placeholder="Apellido">
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="user.email">
    </div>

    <div class="form-group">
        <label for="celphone">Telefono</label>
        <input type="tel" class="form-control" id="celphone" name="cellphone" placeholder="Telefono" [(ngModel)]="user.cellPhone">
      </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="user.password">
    </div>
    <button type="submit" (click)="saveOrEdit()" class="btn btn-default">Guardar</button>
  </div>
</form>