<button type="button" [routerLink]="['/userComponent']" class="btn btn-primary">Listar</button>
<button type="button" [routerLink]="['/userCreateComponent']" class="btn btn-success">Agrear</button>
<router-outlet></router-outlet>