<div class="clear">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ids</th>
        <th scope="col">Document</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUsers">
        <th scope="row">{{item.id}}</th>
        <td>{{item.document}}</td>
        <td>{{item.name}}</td>
        <td>{{item.secondName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.cellPhone}}</td>
        <td>
          <button type="button" class="btn btn-default btn-lg" (click)="editUser(item)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>